Importing Libraries

In [1]:
import numpy as np
import pandas as pd

### All dataset overview

In [4]:
test_data_path="..\Dataset\power-laws-forecasting-energy-consumption-test-data.csv"
test_data=pd.read_csv(test_data_path,sep=';')
test_data

          obs_id  SiteId                  Timestamp  ForecastId          Value
0         323604     235  2014-01-02T19:00:00+00:00        5004  157265.446409
1        2813181     235  2014-01-02T22:00:00+00:00        5004  155498.418922
2        4006999     235  2014-01-02T22:45:00+00:00        5004  155498.418922
3         106973     235  2014-01-03T00:30:00+00:00        5004  157265.446409
4        6793052     235  2014-01-13T14:15:00+00:00        5005   91885.429363
...          ...     ...                        ...         ...            ...
1309171   268524     261  2014-03-24T03:00:00+00:00        5487   38545.410018
1309172  3203969     261  2014-03-24T12:30:00+00:00        5487   48937.146780
1309173  7721495     261  2014-03-24T22:00:00+00:00        5487            NaN
1309174  5696668     261  2014-03-24T23:30:00+00:00        5487            NaN
1309175  4671263     261  2014-03-25T01:15:00+00:00        5487            NaN

[1309176 rows x 5 columns]

In [5]:
train_data_path="..\Dataset\power-laws-forecasting-energy-consumption-training-data.csv"
train_data=pd.read_csv(train_data_path,sep=';')
train_data

          obs_id  SiteId                  Timestamp  ForecastId         Value
0        4852050      42  2016-10-18T02:45:00+00:00        1087  26397.049623
1        1638923      42  2016-10-18T11:45:00+00:00        1087  42958.364641
2        5748910      42  2016-10-18T20:45:00+00:00        1087  27096.919666
3          38199      42  2016-10-20T10:45:00+00:00        1087  50211.408087
4        1338204      42  2016-10-20T18:45:00+00:00        1087  50503.305105
...          ...     ...                        ...         ...           ...
6559825  1127574     300  2017-09-22T18:45:00+00:00        6719   7740.955427
6559826  4695712     300  2017-09-23T17:45:00+00:00        6719   7133.180234
6559827   978979     300  2017-09-24T22:45:00+00:00        6719   7339.789365
6559828  6317358     300  2017-09-25T08:45:00+00:00        6719  18873.744081
6559829  1679385     300  2017-09-26T11:45:00+00:00        6719  18226.368805

[6559830 rows x 5 columns]

In [6]:
holiday_data_path="..\Dataset\power-laws-forecasting-energy-consumption-holidays.csv"
holiday_data=pd.read_csv(holiday_data_path,sep=';')
holiday_data

            Date                       Holiday  SiteId
0     2016-02-15         Washington's Birthday       1
1     2017-05-29                  Memorial Day       1
2     2017-11-23              Thanksgiving Day       1
3     2017-12-29           New Years Eve Shift       1
4     2017-12-31                 New Years Eve       1
...          ...                           ...     ...
8382  2015-12-26                    Boxing Day     303
8383  2016-05-01    International Workers' Day     304
8384  2015-04-25                Liberation Day     304
8385  2016-03-28                 Easter Monday     305
8386  2016-08-15  Assumption of Mary to Heaven     305

[8387 rows x 3 columns]

In [7]:
weather_data_path="..\Dataset\power-laws-forecasting-energy-consumption-weather.csv"
weather_data=pd.read_csv(weather_data_path,sep=';')
weather_data

                         Timestamp  Temperature   Distance  SiteId
0        2017-03-03T19:00:00+00:00         10.6  27.489346      51
1        2017-03-03T19:20:00+00:00         11.0  28.663082      51
2        2017-03-03T20:00:00+00:00          6.3  28.307039      51
3        2017-03-03T21:55:00+00:00         10.0  29.797449      51
4        2017-03-03T23:00:00+00:00          5.4  28.307039      51
...                            ...          ...        ...     ...
3957030  2016-09-11T11:00:00+00:00         25.9  28.307039      51
3957031  2016-09-11T11:20:00+00:00         27.0  27.489346      51
3957032  2016-09-11T12:00:00+00:00         27.1  28.307039      51
3957033  2016-09-11T15:50:00+00:00         28.0  27.489346      51
3957034  2016-09-11T18:00:00+00:00         29.6  29.797449      51

[3957035 rows x 4 columns]

In [8]:
metadata_path="..\Dataset\power-laws-forecasting-energy-consumption-metadata.csv"
metadata=pd.read_csv(metadata_path,sep=';')
metadata

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,207,7964.873347,30.0,18.0,False,False,False,False,False,True,True
1,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
2,74,424.340663,15.0,18.0,False,False,False,False,False,True,True
3,239,1164.822636,15.0,18.0,False,False,False,False,False,True,True
4,274,1468.246690,5.0,18.0,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
262,192,11188.881545,15.0,18.0,False,False,False,False,False,True,True
263,58,1149.050606,15.0,18.0,False,False,False,False,False,True,True
264,123,5470.205018,15.0,18.0,False,False,False,False,False,True,True
265,122,6843.612340,15.0,18.0,False,False,False,False,False,True,True
266,230,5802.693730,15.0,18.0,False,False,False,False,False,True,True

In [9]:
submission_data_path="..\Dataset\power-laws-forecasting-energy-consumption-submission-forecast-period.csv"
submission_data=pd.read_csv(submission_data_path,sep=';')
submission_data

      ForecastId  ForecastPeriodNS
0            123      900000000000
1            264      900000000000
2            596      900000000000
3            914      900000000000
4           1053      900000000000
...          ...               ...
6969        6387      900000000000
6970        6487     3600000000000
6971        6569      900000000000
6972        6777      900000000000
6973        6869      900000000000

[6974 rows x 2 columns]

### Training dataset

In [13]:
train_list=train_data['SiteId'].unique()
train_list.sort()
print("ID number for the building: ")
print(train_list)
print()
print("No of Buildings: ")
print(len(train_list))

ID number for the building:
[  1   2   3   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  25  26  27  29  32  33  34  38  39  40  41  42  43  44
  45  46  47  48  49  50  51  52  53  54  57  58  59  60  61  62  63  64
  65  66  67  68  69  70  72  73  74  75  76  77  78  83  84  85  86  87
  88  89  90  92  93  94  96  98  99 100 101 102 105 106 107 108 109 110
 111 112 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130
 131 132 134 135 136 139 140 141 142 143 145 146 148 149 150 151 152 153
 154 155 156 157 158 159 160 161 162 163 164 165 167 169 170 171 172 173
 174 175 176 177 178 180 181 182 183 184 185 186 189 190 191 192 193 194
 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212
 213 215 216 217 218 219 221 222 223 224 225 226 227 228 229 230 231 232
 233 234 235 236 237 238 239 240 241 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 292 293 294 295 297 298 299 300 301 302 303 304 305]

No of Buildings:
267

#### Looking for how many values for each ID number for the building