Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Initial Setup

In [3]:
## Reading test and train dataset

train_df=pd.read_csv(r"..\Notebooks\Train_dataset.csv")
test_df=pd.read_csv(r"..\Notebooks\Test_dataset.csv")

In [4]:
train_df.head()

,obs_id,SiteId,Timestamp,ForecastId,Value,Temperature,Distance,Date,Holiday
0,2512063,40,2017-01-11 04:30:00+00:00,1013,10879.083336,-4.0,26.095513,2017-01-11,Working Day
1,2512063,40,2017-01-11 04:30:00+00:00,1013,10879.083336,-1.0,24.788361,2017-01-11,Working Day
2,1148116,40,2017-01-14 20:30:00+00:00,1013,4001.425865,-2.0,24.788361,2017-01-14,Working Day
3,1148116,40,2017-01-14 20:30:00+00:00,1013,4001.425865,-3.0,26.095513,2017-01-14,Working Day
4,7587273,40,2017-01-15 14:30:00+00:00,1013,10088.216946,2.0,24.788361,2017-01-15,Working Day

In [5]:
test_df.head()

,obs_id,SiteId,Timestamp,ForecastId,Value,Temperature,Distance,Date,Holiday
0,4394214,44,2015-12-12 18:00:00+00:00,1097,20774.124777,8.7,27.3155,2015-12-12,Working Day
1,2209563,44,2015-12-12 22:00:00+00:00,1097,11936.155053,7.7,27.3155,2015-12-12,Working Day
2,6548709,44,2015-12-13 16:00:00+00:00,1097,5172.077141,13.4,27.3155,2015-12-13,Working Day
3,3049854,44,2015-12-13 18:00:00+00:00,1097,10910.761329,10.1,27.3155,2015-12-13,Working Day
4,4985703,44,2015-12-13 19:00:00+00:00,1097,10230.832873,8.8,27.3155,2015-12-13,Working Day

Looking for is there is any mulicolinearity present in train and test data set by using correlation and heatmap

### Train Dataset

,obs_id,SiteId,Timestamp,ForecastId,Value,Temperature,Distance,Date,Holiday,hour,day_of_the_week,Month,Season
0,2512063,40,2017-01-11 04:30:00+00:00,1013,10879.083336,-4.0,26.095513,2017-01-11,Working Day,4,2,1,Winder
1,2512063,40,2017-01-11 04:30:00+00:00,1013,10879.083336,-1.0,24.788361,2017-01-11,Working Day,4,2,1,Winder
2,1148116,40,2017-01-14 20:30:00+00:00,1013,4001.425865,-2.0,24.788361,2017-01-14,Working Day,20,5,1,Winder
3,1148116,40,2017-01-14 20:30:00+00:00,1013,4001.425865,-3.0,26.095513,2017-01-14,Working Day,20,5,1,Winder
4,7587273,40,2017-01-15 14:30:00+00:00,1013,10088.216946,2.0,24.788361,2017-01-15,Working Day,14,6,1,Winder

In [24]:

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413082 entries, 0 to 413081
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   obs_id           413082 non-null  int64
 1   SiteId           413082 non-null  int64
 2   Timestamp        413082 non-null  datetime64[ns, UTC]
 3   ForecastId       413082 non-null  int64
 4   Value            413082 non-null  float64
 5   Temperature      413082 non-null  float64
 6   Distance         413082 non-null  float64
 7   Date             413082 non-null  datetime64[ns]
 8   Holiday          413082 non-null  object
 9   hour             413082 non-null  int32
 10  day_of_the_week  413082 non-null  int32
 11  Month            413082 non-null  int32
 12  Season           413082 non-null  object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), int32(3), int64(3), object(2)
memory usage: 36.2+ MB