Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
data=pd.read_csv(r"..\Notebooks\Consumption_dataset.csv")
data.head()

,Timestamp,Value,year,Date,Month,Temperature,Holiday,Is_Working_Day
0,2013-03-21 00:00:00+00:00,51953.816584,2013,2013-03-21,3,13.0,Working Day,1
1,2013-03-22 00:00:00+00:00,42459.352626,2013,2013-03-22,3,15.0,Working Day,1
2,2013-03-23 00:00:00+00:00,34399.993680,2013,2013-03-23,3,15.0,Working Day,1
3,2013-03-24 00:00:00+00:00,35669.267336,2013,2013-03-24,3,14.8,Working Day,1
4,2013-03-25 00:00:00+00:00,52242.277642,2013,2013-03-25,3,19.0,Working Day,1

In [5]:
print("Null values: ")
print(data.isna().sum())
print("Duplicate Values: ")
print(data.duplicated().sum())

Null values:
Timestamp         0
Value             5
year              0
Date              0
Month             0
Temperature       0
Holiday           0
Is_Working_Day    0
dtype: int64
Duplicate Values:
0